html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
	margin: 0;
	padding: 0;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

select,
input,
textarea {
	font-size: 12px;
	margin: 0;
}

body {
	font: "微软雅黑", "黑体";
	font-size: 12px;
	background: #212121;
}

a {
	font-size: 12px;
	text-decoration: none;
}

ul,li{
	list-style: none;
}

.clearfix:before,
.clearfix:after{
	content: " ",;
	display: table;
}
.heraworks a:visited,
.heraworks a:link{
    text-decoration: none;
    font-size: 12px;
    color: #666666;
}

.tail{
	background-image: url(http://www.jyhlyx.com/images/ying_r25_c4.jpg);
	height: 142px;
}


.tail>img{
	margin-left: 360px;
}

.bottom{
	width: 100%;
	height: 90px;
	background-image: url(http://www.jyhlyx.com/images/ying_r26_c4.jpg);
}

.bottom>p{
	color: #CBCBCB;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}