/*清除内外边距*/

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
	margin: 0;
	padding: 0;
}


/*浮动*/

.fl {
	float: left;
}

.fr {
	float: right;
}


/*输入文本字号*/

select,
input,
textarea {
	font-size: 12px;
	margin: 0;
}


/*全局字体，字号，背景色*/

body {
	font: "微软雅黑", "黑体";
	font-size: 12px;
	background: #212121;
}


/*a标签字号以及清除下划线*/

a {
	font-size: 12px;
	text-decoration: none;
	color: #666666;
}


/*清除项目符号*/

ul,
li {
	list-style: none;
}


/*清除浮动*/

.clearfix:before,
.clearfix:after {
	content: " ", ;
	display: table;
}


/*赫拉作品里a链接设定*/

.heraworks a:visited,
.heraworks a:link {
	text-decoration: none;
	font-size: 12px;
	color: #666666;
}


/*下方地址联系方式*/

.tail {
	background-image: url(http://www.jyhlyx.com/images/ying_r25_c4.jpg);
	height: 142px;
}

.tail>img {
	margin-left: 360px;
	height: 142px;
}

.bottom {
	width: 100%;
	height: 90px;
	background-image: url(http://www.jyhlyx.com/images/ying_r26_c4.jpg);
}

.bottom>p {
	color: #CBCBCB;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
}

/*顶部*/

.top {
	width: 100%;
	height: 30px;
	background-image: url(http://www.jyhlyx.com/images/ying_r1_c2.jpg);
	border-bottom: 1px solid white;
	position: relative;
	text-align: center;
}

.top-content {
	width: 1200px;
	height: 30px;
	display: inline-block;
}

.top>.top-content>.fl {
	color: white;
	font-weight: bold;
	line-height: 30px;
}

.top>.top-content>.fr {
	color: white;
	font-weight: bold;
	line-height: 30px;
}

/*导航栏*/

.header {
	text-align: center;
	height: 129px;
	background: #FFFFFF;
}

.header>img {
	width: 1200px;
	height: 115px;
	margin-top: 7px;
	margin-bottom: 7px;
}

/*flash动画*/

.flash {
	width: 100%;
	height: 600px;
	border: 0;
	padding: 0;
	margin: 0;
}

/*flash动画下的口号*/

.bg {
	width: 100%;
	height: 98px;
	background: #151515;
	text-align: -webkit-center;
}

.bg>img {
	width: 506px;
	height: 98px;
}
/*第一个边框*/
.heraworks{
	background-color: white;
	float:left;
	width: 100%;
}
.blank{
	height: 10px;
}
.place {
	height: 36px;
	width: 1200px;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    margin: 2px auto;
    border-radius: 5px 5px 5px 5px;
}
.place2{
	padding: 9px ;
}
/*第一个边框中的超链接*/
.heraworks a:visited,
.heraworks a:link{
    text-decoration: none;
    font-size: 12px;
    color: #666666;
}
.heraworks a:hover{
    font-size: 12px;
    color: #FF8B49;
    text-decoration: underline;
}

/*页数边框*/
.table-bot{
	height: 27px;
	width: 1172px;
	background-color: #f9f9f9;
	border: 1px solid #cccccc;
	float: left;
	overflow: hidden;
	text-align: right;
	line-height: 25px;
	margin: 0 8px 0 8px;
	padding-right: 8px;
}

.apage{
    border: 1px solid #d4e3e9;
    padding: 0 3px;
    margin-right: 5px;
}
/*bot－空白*/
.border-last{
	width: 1199px;
	height: 30px;
	border: 1px solid #CCCCCC;
	margin: -16px auto 11px;
	border-radius: 5px 5px 5px 5px;
}