/*内容全局设定*/

.content {
	position: relative;
}

.content>a>img {
	width: 100%;
	height: 414px;
}

/*赫拉活动版面*/

.hlhd {
	height: 180px;
	width: 100%;
	text-align: center;
}

.hlhd>a>img {
	margin-top: 15px;
	margin-bottom: 15px;
}

/*作品展示版面*/

.zpzs {
	margin: 0;
	padding: 0;
	border: 0;
	height: 600px;
	text-align: center;
}

.zpzs>a>img {
	margin-bottom: 15px;
	margin-top: 15px;
}

/*作品展示内照片设定*/

.photos {
	width: 100%;
	height: 420px;
}

.photos>ul {
	width: 1200px;
	height: 420px;
	display: inline-block;
}

.photos>ul>li {
	float: left;
	padding-left: 10px;
	padding-top: 5px;
}

.photos>ul>li>a {
	display: block;
	width: 230px;
	height: 349px;
}

.photos>ul>li>a>img {
	display: none;
}

.photos>ul>li:hover>a>img {
	display: block;
}

.photos>ul>li:hover>a>span {
	background-color: red
}

/*用客照晒幸福版面*/

.ykzsxf {
	height: 630px;
	width: 100%;
	text-align: center;
}

.ykzsxf>a>img {
	margin-bottom: 15px;
	margin-top: 15px;
}

/*用客照晒幸福照片展示，详细设置与上同，故设置photos*/

.photos>ul>li>a {
	position: relative;
}

/*出现备注姓名框*/

.photos>ul>li>a>span {
	display: block;
	font-size: 15px;
	line-height: 45px;
	color: #fff;
	background-color: #3B3B3B;
	height: 45px;
	width: 230px;
	text-align: center;
	font-weight: bold;
	position: absolute;
	top: 349px;
}

/*客户评价版面*/

.khpj {
	height: 450px;
	text-align: center;
}

.khpj>a>img {
	margin-bottom: 15px;
	margin-top: 15px;
}

.khpj>ul>li>a {
	display: block;
	background-color: #f0f0f0;
	width: 290px;
	height: 100px;
}

.khpj>ul>li>a>p {
	width: 172px;
	margin: 20px 10px 0 0;
	color: #666666;
	text-align: left;
	line-height: 22px;
}

.khpj>ul>li:hover>a,
.khpj>ul>li:hover>a>p {
	background-color: red;
	color: white;
}

.khpj>ul {
	display: inline-block;
	width: 1200px;
	height: 248px;
}

.khpj>ul>li {
	float: left;
	margin-bottom: 24px;
	margin-left: 5px;
	margin-right: 5px;
}

/*赫拉动态背景图*/

.hldt {
	width: 1920px;
	height: 168px;
	background-image: url(../img/hldt.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.hldt-td{
	width: 1200px;
	height: ;
}

/*赫拉新闻资讯版面*/

.text {
	width: 100%;
	height: 680px;
	text-align: center;
}

.text>ul {
	width: 1200px;
	height: 658px;
	padding-top: 22px;
	display: inline-block;
}

.text>ul>li {
	width: 565px;
	height: 146px;
	float: left;
	margin: 7px 2px;
	padding-right: 30px;
	text-align: left;
}

.text>ul>li>a {
	display: block;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	width: 390px;
	line-height: 35px;
}

.text>ul>li>.data {
	width: 390px;
	height: 22px;
	color: #cdcdcd;
	font-family: arial;
	line-height: 22px;
}

.text>ul>li>.text-content {
	width: 390px;
	height: 75px;
	color: #676767;
	line-height: 25px;
}