.news{
	width: 1200px;
	height: 542px;
	border: 1px solid #d5d5d5;
	margin: 15px auto;
	border-radius: 5px 5px 5px 5px;
}

.news {
    color: #666;
    
}

.news li{
	width: 1160px;
	height: 28px;
	border-bottom: 1px dashed #CCCCCC;
	margin: 12px auto;
}
.news li>a{
	font-size: 14px !important;
    color: #000 !important;
	font-weight: bold;
}
.news li>a:hover{
	color: #D40426 !important;
	
}
.news li>span{
	float: right;
}